<%- include("header1") -%>
<h2 id="printTitle">Social Media Assets</h2>
<h3>Square(1:1)</h3>
<div class="row">

  <div class="BC-col text-center">
    <img class="img-shadow D-preview" src="images/Digital/SMA1.png" alt="">
    <img class="img-shadow D-preview" src="images/Digital/SMA2.png" alt="">
    <img class="img-shadow D-preview" src="images/Digital/SMA3.png" alt="">
    <a href="/Gallery?id=9&name=SMA&format=png&sec=Digital" id="B24"><img class="img-shadow D-preview" src="images/Digital/SMA10.jpg" alt=""></a>
  </div>


  <!-- <div class="BC-col col-md-6 text-center">
    <img class="img-shadow preview" src="images/Digital/SMA3.png" alt="">
    <img class="img-shadow preview" src="images/Digital/SMA4.png" alt="">
  </div> -->

</div>

<%- include("footer1") -%>
