<%- include("header1.ejs") -%>



    <div class="BC-row row">
    <div class="BC-col text-center">
          <% gArr.forEach(function(gal){%>
            <img class="img-shadow preview-h rounded" src="images/Printables/BC/BC<%=gal%>.png" alt="">
          <%});%>
    </div>
    </div>


    <!-- <img class="preview-h" src="images/Printables/BC/BC1.png" alt="">
    <img class="preview-v" src="images/Printables/BC/BC2.png" alt="">
    <img class="preview-h" src="images/Printables/BC/BC3.png" alt="">
    <img class="preview-h" src="images/Printables/BC/BC4.png" alt="">
    <img class="preview-h" src="images/Printables/BC/BC5.png" alt="">
    <img class="preview-v" src="images/Printables/BC/BC6.png" alt=""> -->



<%- include("footer1.ejs") -%>
