<%- include("header1") -%>

<div class="Title cont">
  <h1 class="page-title skill-title">Graphic Design</h1>
</div>
<!-- <div class="Page-H cont">
  <h1 class="page-title skill-title">Graphic Design</h1>
</div> -->

<div class="Title cont logo">
  <a href="/Logo" ><img src="images/Div-BG.jpg" alt="" id="Div-BG"><h2 class="skill-title">Logo Design</h2></a>

</div>
<div class="Title cont digital">
  <a href="/Digital-Design"><img src="images/Div-BG.jpg" alt="" id="Div-BG"><h2 class="skill-title">Digital</h2></a>
</div>
<div class="Title cont print">
  <a href="/Printables-Design"><img src="images/Div-BG.jpg" alt="" id="Div-BG"><h2 class="skill-title">Print</h2></a>
</div>
<div class="Title cont view-all">
  <h2 class="skill-title">View All</h2>
</div>
<%- include("footer1") -%>
