<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Author: Manirathinam,
    Designer: Manirathinam, Category: Portfolio website">
  <title>MR</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Playfair+Display:wght@400;500;700;900&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="images/MR_favicon.ico">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


  <link rel="stylesheet" href="css/<%= stylesheetName %>">

</head>

<body>

  <!-- Navbar -->

  <nav class="n-box-shadow navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand d-md-none" href="/">
        <h3 class="nav-logo">MR</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
          <div class="">
            <a class="nav-link" href="/Web-Development" id="Web-Development">Web Development</a>
          </div>
          <div class="n2">
            <a class="nav-link" href="/Graphic-Design" id="Graphic-Design">Graphic Design</a>
          </div>
          <a class="d-none d-md-block" id="nav-MR" href="/">
            <h3>MR</h3>
          </a>
          <div class="n2">
            <a class="nav-link" href="/UI-Visual-Design">UI & Visual Deisgn</a>
          </div>
          <div class="">
            <a class="nav-link" href="/TD-&-More">3D & More</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Theme toggle button -->

  <form class="theme-toggle-button-form" action="/<%= actionUrl %>" method="post">
    <button type="submit" name="theme-toggle" class="theme-button btn btn-<%= btnTheme %>">Change Theme</button>
  </form>

  <img class="scroll-to-top" onclick="scrollToTop()" id="scroll-to-top-btn" src="images/scroll-to-top-<%= btnTheme %>.png" alt="Scroll to top">

  <script>
    window.onscroll = function() {
      console.log($(window).scrollTop());
      scrollFunction();
    };

    function scrollFunction() {
      if ($(window).scrollTop() > 100) {
        $("#scroll-to-top-btn").css("display","block");
      } else {
        $("#scroll-to-top-btn").css("display","none");
      }
    }

    function scrollToTop() {
      $(window).scrollTop(0);
      document.body.scrollTop = 0;
    }
  </script>
