<%- include("header1") -%>


<div class="Logo-Display cont">
  <img class="Logo-Thumbnail" src="images/Logo/TB-WBG.png" alt="">
</div>

<div class="Logo-Display-Description cont">
  <h4 class="Logo-Description">The ZOHO Headquarters building often refered to as "The Bucket" located in Chengalpattu - Tamil Nadu is a significant indentity for ZOHO. So I came up with a logo for the campus building.</h3>
</div>


<div class="Logo-row row justify-content-center">
  <div class="col-md-auto text-center">
    <img class="Logo-col" src="images/Logo/Tb-WBG.png" alt="">
  </div>
  <div class="col-md-auto text-center">
    <img class="Logo-col" src="images/Logo/Tb-MB.png" alt="">
  </div>
  <div class="col-md-auto text-center">
    <img class="Logo-col" src="images/Logo/Tb-TBG.png" alt="">
  </div>
</div>
<div class="Logo-row row justify-content-center">
  <div class="col-md-auto text-center">
    <img class="Logo-col" src="images/Logo/Tb-BBG.png" alt="">
  </div>
  <div class="col-md-auto text-center">
    <img class="Logo-col" src="images/Logo/Tb-MW.png" alt="">
  </div>
  <div class="col-md-auto text-center">
    <img class="Logo-col" src="images/Logo/Tb-GBG.png" alt="">
  </div>
</div>


<%- include("footer1") -%>
