<%- include("header1") -%>

<h2>Business Card</h2>
<h3>Design</h3>
<div class="BC-row row">

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-h" src="images/Printables/BC/BC1.png" alt="">
    <img class="img-shadow preview-v" src="images/Printables/BC/BC2.png" alt="">
  </div>

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-h" src="images/Printables/BC/BC3.png" alt="">
    <img class="img-shadow preview-h" src="images/Printables/BC/BC4.png" alt="">
    <img class="img-shadow preview-h" src="images/Printables/BC/BC5.png" alt="">
  </div>

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-v" src="images/Printables/BC/BC6.png" alt="">
    <a href="/Gallery-Designs?id=24&format=png" id="B24"><img class="img-shadow preview-h" src="images/Printables/BC/BC25.png" alt=""></a>
  </div>

</div>
<h3>Mockups</h3>
<div class="BC-row row">
<div class="BC-col col-md-4 text-center">
  <img class="img-shadow preview" src="images/Printables/BC/BCM1.jpg" alt="">
  <img class="img-shadow preview" src="images/Printables/BC/BCM2.jpg" alt="">
</div>
<div class="BC-col col-md-4 text-center">
  <img class="img-shadow preview" src="images/Printables/BC/BCM3.jpg" alt="">
  <img class="img-shadow preview" src="images/Printables/BC/BCM4.jpg" alt="">
</div>
<div class="BC-col col-md-4 text-center">
  <img class="img-shadow preview" src="images/Printables/BC/BCM5.jpg" alt="">
  <a href="/Gallery?id=14&name=BC&format=jpg" id="B24"><img class="img-shadow preview-h" src="images/Printables/BC/BCM15.jpg" alt=""></a>
</div>
</div>

<h2>ID Card</h2>
<h3>Design</h3>
<div class="BC-row row">

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-v" src="images/Printables/ID/ID1.jpg" alt="">
    <img class="img-shadow preview-v" src="images/Printables/ID/ID2.jpg" alt="">
  </div>

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-h" src="images/Printables/ID/ID3.jpg" alt="">
    <img class="img-shadow preview-v" src="images/Printables/ID/ID4.jpg" alt="">
  </div>

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-v" src="images/Printables/ID/ID5.jpg" alt="">
    <a href="/Gallery?id=10&name=ID&format=jpg" id="ID10"><img class="img-shadow preview-v" src="images/Printables/ID/ID11.jpg" alt=""></a>
  </div>
</div>

<h3>Mockups</h3>
<div class="BC-row row">
<div class="BC-col col-md-4 text-center">
  <img class="img-shadow preview" src="images/Printables/ID/IDM1.jpg" alt="">
  <img class="img-shadow preview" src="images/Printables/ID/IDM2.jpg" alt="">
</div>
<div class="BC-col col-md-4 text-center">
  <img class="img-shadow preview" src="images/Printables/ID/IDM3.jpg" alt="">
  <img class="img-shadow preview" src="images/Printables/ID/IDM4.jpg" alt="">
</div>
<div class="BC-col col-md-4 text-center">
  <img class="img-shadow preview" src="images/Printables/ID/IDM5.jpg" alt="">
  <a href="/Gallery?id=11&name=ID&format=jpg" id="ID11"><img class="img-shadow preview" src="images/Printables/ID/IDM12.jpg" alt=""></a>
</div>
</div>
<%- include("footer1") -%>
