<%- include("header1") -%>

<h2>Business Card</h2>
<h4>Design</h4>
<div class="BC-row row">

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-h" src="images/Printables/BC/BC1.png" alt="">
    <img class="img-shadow preview-v" src="images/Printables/BC/BC2.png" alt="">
  </div>

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-h" src="images/Printables/BC/BC3.png" alt="">
    <img class="img-shadow preview-h" src="images/Printables/BC/BC4.png" alt="">
    <img class="img-shadow preview-h" src="images/Printables/BC/BC5.png" alt="">
  </div>

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-v" src="images/Printables/BC/BC6.png" alt="">
    <a href="/Gallery?id=24" id="B24"><img class="img-shadow preview-h" src="images/Printables/BC/BC25.png" alt=""></a>
  </div>

</div>

<%- include("footer1") -%>
