<%- include("header1") -%>

<h2 id="printTitle">Business Card</h2>
<h3>Design</h3>
<div class="BC-row row">

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-h" src="images/Printables/BC1.png" alt="">
    <img class="img-shadow preview-v" src="images/Printables/BC2.png" alt="">
  </div>

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-h" src="images/Printables/BC3.png" alt="">
    <img class="img-shadow preview-h" src="images/Printables/BC4.png" alt="">
    <img class="img-shadow preview-h" src="images/Printables/BC5.png" alt="">
  </div>

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-v" src="images/Printables/BC6.png" alt="">
    <a href="/Gallery?id=24&name=BC&format=png&sec=Printables" id="B24"><img class="img-shadow preview-h" src="images/Printables/BC25.png" alt=""></a>
  </div>

</div>
<h3 id="subtitle">Mockups</h3>
<div class="BC-row row">
<div class="BC-col col-md-4 text-center">
  <img class="img-shadow preview" src="images/Printables/BCM1.jpg" alt="">
  <img class="img-shadow preview" src="images/Printables/BCM2.jpg" alt="">
</div>
<div class="BC-col col-md-4 text-center">
  <img class="img-shadow preview" src="images/Printables/BCM3.jpg" alt="">
  <img class="img-shadow preview" src="images/Printables/BCM4.jpg" alt="">
</div>
<div class="BC-col col-md-4 text-center">
  <img class="img-shadow preview" src="images/Printables/BCM5.jpg" alt="">
  <a href="/Gallery?id=14&name=BCM&format=jpg&sec=Printables" id="B24"><img class="img-shadow preview-h" src="images/Printables/BCM15.jpg" alt=""></a>
</div>
</div>

<h2 id="printTitle">ID Card</h2>
<h3>Design</h3>
<div class="BC-row row">

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-v" src="images/Printables/ID1.jpg" alt="">
    <img class="img-shadow preview-v" src="images/Printables/ID2.jpg" alt="">
  </div>

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-h" src="images/Printables/ID3.jpg" alt="">
    <img class="img-shadow preview-v" src="images/Printables/ID4.jpg" alt="">
  </div>

  <div class="BC-col col-md-4 text-center">
    <img class="img-shadow preview-v" src="images/Printables/ID5.jpg" alt="">
    <a href="/Gallery?id=10&name=ID&format=jpg&sec=Printables" id="ID10"><img class="img-shadow preview-v" src="images/Printables/ID11.jpg" alt=""></a>
  </div>
</div>

<h3 id="subtitle">Mockups</h3>
<div class="BC-row row">
<div class="BC-col col-md-4 text-center">
  <img class="img-shadow preview" src="images/Printables/IDM1.jpg" alt="">
  <img class="img-shadow preview" src="images/Printables/IDM2.jpg" alt="">
</div>
<div class="BC-col col-md-4 text-center">
  <img class="img-shadow preview" src="images/Printables/IDM3.jpg" alt="">
  <img class="img-shadow preview" src="images/Printables/IDM4.jpg" alt="">
</div>
<div class="BC-col col-md-4 text-center">
  <img class="img-shadow preview" src="images/Printables/IDM5.jpg" alt="">
  <a href="/Gallery?id=11&name=IDM&format=jpg&sec=Printables" id="ID11"><img class="img-shadow preview" src="images/Printables/IDM12.jpg" alt=""></a>
</div>
</div>
<%- include("footer1") -%>
