body{
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  font-size: max(4vw, 36px);
  text-align: center;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: max(3vw,24px);
  text-align: center;
  white-space: nowrap;
  font-family: 'Playfair Display', serif;
}

h3 {
  /* padding-right: 3vw; */
  font-size: 32px;
  color: #00C4FF;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

h4{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}

footer{
  /* box-shadow: 0 -8px 20px -4px #4B4B4B; */
}
body::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: black;
}
body::-webkit-scrollbar-thumb {
background-color: #0E0E0E;
}
body::-webkit-scrollbar-corner {
  background-color: black;
}

.maintenance {
  font-size: max(2vw,20px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theme-button {
  display: block;
  position: relative;
  right: 0px;
  margin-left: auto;
  margin-right: 0;
}

.footer {
  width: 100%;
  height: 200px;
  padding: 64px 0;
}

.cont {
  position: relative;
  text-align: center;
}

 .skill-title{
   color: white;
  font-size: max(3vw,32px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title {
  color: #00C4FF;
  line-height: max(10vh, 50px);
  width: 100%;
  font-size: max(4vw,40px);
  width: 100%;
}

.Title {
  width: 100vw;
  height: 50vh;
  box-shadow: 0 6px 20px -4px #4B4B4B;
}

.Page-H {
  margin: 40px auto;
  padding-bottom: 40px;
  height: auto;
}

.section1 {
  height: 95vh;
}

.section2 {
  color: black;
}

.section3 {
  color: black;
  /* margin-bottom: 15px; */
}
.section2-row {
  padding: 0;
}
.BG-img {
  margin: 0;
  width: 100%;
}

.row {
  width: 100%;
  margin: 0;
}

.row1{
  width: auto;
  height: 90vh;
  padding: 2.5vh 0;
}

.heading1 {
  width: auto;
  height: auto;
  padding: 3.5vh 0;
}

.n-box-shadow{
  box-shadow: 0 8px 20px -4px #4B4B4B;
}

.n2{
  margin: 0 4vw;
  width: auto;
}


.landing-img{
  width: max(40vw, 300px);
}

.Logo {
  width: 100vw;
  height: max(250px,50vw);
}

.Logo-Thumbnail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.Logo-Display {
  text-align: center;
  width: 100vw;
  height: 60vw;
}

.Logo-Description {
  font-size: min(20px, 4vw);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.Logo-row {
}

.Logo-col {
  width: 20vw;
}

@media only screen and (max-width: 600px) {
  .Logo-col {
    width: 50vw;
  }
}

.Logo-Display-Description{
  padding: 10vh 0;
  height: auto;
}


/* .navbar-brand {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;

} */

#this-is {
    text-align: right;
    padding-right: 1vw;
  }

#MR {
  text-align: center;
  color: #00C4FF;
  font-weight: 700;
}

#nav-MR {
  padding-top: 1vh;
}

#TD {
  line-break: normal;
}

/* .flex-container {
  display: flex;
} */


.col-lg-6 {
  /* add h1 font size here */
  padding: 0;
}

.col-lg-6 h1{
  font-size: max(4vw,2rem);
}

.navbar {
  background-color: #0E0E0E;
  width: 100%;
}

.navbar-collapse{
  text-align: center;
}

.navbar-toggler {
  background-color: #585858;
}

/* .navbar-toggler-icon {
  background-image: url("collapsible-btn.svg")
}

.navbar-toggler-icon:hover{
  background-image: url("collapsible-btn-hover.svg")
} */

/* .navbar-toggler-icon:to {
  background-image: url("images/collapsible-btn.svg")
} */

.navbar .navbar-nav .nav-link {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: max(1.5vw,20px);
  font-weight: 400;
  padding: 12px 0;
  width: auto;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}


#footer-PW{
  font-weight: 700;
}

#GD {
  color: #00C4FF;
}

#TD {
  color:#00C4FF;
}


/* .navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
} */
