body{
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  font-size: max(4vw, 36px);
  text-align: center;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: max(3vw,24px);
  text-align: center;
  white-space: nowrap;
  font-family: 'Playfair Display', serif;
}

h3 {
  /* padding-right: 3vw; */
  font-size: 32px;
  color: #00C4FF;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

h4{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
}

footer{
  box-shadow: 0 -8px 20px -4px #4B4B4B;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: black;
}
body::-webkit-scrollbar-thumb {
background-color: #0E0E0E;
}
body::-webkit-scrollbar-corner {
  background-color: black;
}

.theme-button {
  position: absolute;
  right: 0px;
}

.footer {
  width: 100vw;
  height: 200px;
  padding: 64px 0;
}

.container {
  position: relative;
  text-align: center;
}

 .skill-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section1 {
  height: 95vh;
}

.section2 {
  color: black;
}

.section3 {
  color: black;
  margin-bottom: 15px;
}
.section2-row {
  padding: 0;
}
.BG-img {
  width: 100vw;
}

.row1{
  width: auto;
  height: 90vh;
  padding: 3vh 0;
}

.heading1 {
  width: auto;
  height: auto;
  padding: 3.5vh 0;
}

.n-box-shadow{
  box-shadow: 0 8px 20px -4px #4B4B4B;
}

.n2{
  margin: 0 4vw;
  width: auto;
}


.landing-img{
  width: 40vw;
  max-width: 600px;
  min-width: 330px;
}

/* .navbar-brand {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;

} */

#this-is {
    text-align: right;
    padding-right: 1vw;
  }

#MR {
  text-align: center;
  color: #00C4FF;
  font-weight: 700;
}

#nav-MR {
  padding-top: 1vh;
}

#TD {
  line-break: normal;
}

.flex-container {
  display: flex;
}

.navbar {
  background-color: #0E0E0E;
}

.navbar-collapse{
  text-align: center;
}

.navbar-toggler {
  background-color: #585858;
}

.navbar .navbar-nav .nav-link {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: max(1.5vw,20px);
  font-weight: 400;
  padding: 8px 0;
  width: auto;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}

#footer-PW{
  font-weight: 700;
}

#GD {
  color: #00C4FF;
}

#TD {
  color:#00C4FF;
}


/* .navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
} */
